form{
    background: darkblue;
    padding: 25px;
    border-radius: 15px;
}
input,textarea,button{
    margin: 8px 0;
}
.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background: lightgreen;
}
h2{
    color: darkblue;
}
hr{
    border: 3px solid darkblue;
}
h5{
    color: darkblue;
}